footer {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 30px;
  text-align: center;

}

.footer_img {
  width: 30px;
  margin-right: 20px;
}
.logo_footer {
  color: rgb(39, 158, 255);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.texto_footer {
  margin-bottom: 20px;
}