.h1_org {
    color: rgb(13, 146, 207);
    text-align: center;
    margin: 30px;
}

.img_org {
    max-width: 700px;
    min-width: 400px;
    margin-left: 20%;
    margin-bottom: 150px;
}